article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block; margin: 0; padding: 0;}
* {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
html {font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li, form {margin: 0; padding: 0; list-style: none; font-weight: normal;}
button, input, select, textarea {margin: 0; padding: 0; border: none; font-family: "Inter", sans-serif;}
.custfield:focus {outline: none; border: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
body {font-family: "Inter", sans-serif; font-size: 75%; color: #12323E; background: url(../public/main-bg.png) no-repeat 50% 50%; background-size: cover;}
a {text-decoration: none;}
a:hover, a:focus {text-decoration: none; outline: none;}
img {border: none; vertical-align: middle;}

/****************
 * Common Css
 ****************/
 header, section, footer {float: left; width: 100%;}
.row {margin-left: -15px; margin-right: -15px;}
.row>* {padding-left: 15px; padding-right: 15px;}
.custfield {border: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none;}
a, a:hover, button {transition:all 0.3s ease 0s; -moz-transition:all 0.3s ease 0s; -webkit-transition:all 0.3s ease 0s;}


.clsmain {position: relative; overflow: hidden; /*height: 100dvh; overflow: hidden;*/}
.clsmain .clsmaincol {width: calc(50% - 13.5em);}
.clsmain .clsmaincol2 {width: 27em;}
.clsmaintable {padding-top: 0.5em; padding-bottom: 0.5em;}
.clsmaintable .clstablecol {background-color: #ffffff;}
.clsmaintable .clstemaname {background: linear-gradient(90deg, #98B12C 0%, #F2EC41 100%); padding: 0.5em;}
.clsmaintable .clstemaname h2 {font-size: 1.5em; font-weight: 700; text-transform: uppercase;}
.clsmaintable .clstemaname h4 {font-size: 1.4em;}
.clsmaintable .clsplayertablehead {background-color: #A81E1E;}
.clsmaintable .clsplayertablehead .clstbcol p {font-weight: 500;}
.clsmaintable .clstablecol .clstbcol {padding: 0.4em 0.7em; font-size: 1.1em; border-bottom: 1px solid #F3F3F3;}
.clsmaintable .clstablecol .clstbcol p b {font-weight: 600;}
.clsmaintable .clscaptainname .clstbcol p span {font-size: 0.9em; margin-left: 0.4em;}
.clsmaintable .clstablecol .clstbcol2 {width: 6em; text-align: center; border-left: 1px solid #F3F3F3;}
.clsmaintable .clstablecol .clstbcol .clsplyicon {width: 1em; text-align: center;}
.clsmaintable .clsaucroundcol {position: relative;}
.clsmaintable .clsaucroundcol .clstbcol1, .clsmaintable .clstotalrow .clstbcol1 {padding-left: 2em;}
.clsmaintable .clsroundlabel {width: 1.5em; position: absolute; left: 0px; top: 0px; bottom: 0px; color: #FFFFFF; text-transform: uppercase; font-size: 1em; text-align: center;}
.clsmaintable .clsroundlabel p {width: 100%; padding-left: 2px; word-break: break-word; text-align: center; position: absolute; top: 50%; transform: translateY(-50%);}
.clsmaintable .clsroundlabel p span {font-size: 1.9em; font-weight: 700; margin-left: -3px; display: block;}
.clsmaintable .clstotalrow p {font-weight: 600;}
.bgcolor1 {background-color: #8B88F5;}
.bgcolor2 {background-color: #DA88F5;}

.clspoweredby {margin-top: 1.5em;}
.clspoweredby p {color: #FFFFFF; font-weight: 500; font-size: 1em; margin-bottom: 0.5em;letter-spacing: 0.03em;}
.clsscl {margin:3.5em 0;}

.clssoldplayer .clssoldplayerinfo {background-color: #FFFFFF; margin-top: -7.5em; padding:9em 2em 2em; position: relative; border-radius: 2em; -moz-border-radius: 2em; -webkit-border-radius: 2em;}
.clssoldplayer .clsplayerphoto {width: 17em; height: 17em; background-color: #ffffff; border: 0.5em solid #FF4674; position: relative; z-index: 2; display: inline-block; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; overflow: hidden;}
.clssoldplayer .clsplayerphoto img {width: 100%; height: 100%; object-fit: cover; object-position: top;}
.clsplydetails h3 {font-size: 1.8em; font-weight: 600;}
.clsplydetails .clssoltpointinfo {padding: 1em 0;}
.clsplydetails .clssoltpointinfo .clssoltpoint {color: #ffffff; font-size: 1em; padding: 0 0.4em; font-weight: 500; display: inline-block; background-color: #EF4137; border-radius: 0.2em; -moz-border-radius: 0.2em; -webkit-border-radius: 0.2em;}
.clsplydetails .clssoltpointinfo h4 {font-size: 1.2em; padding: 0.5em 0 0; text-transform: uppercase; font-weight: 500;}
.clsplydetails .clssoltpointinfo p {font-size: 0.8em; text-transform: uppercase; font-weight: 500;}
.clsplydetails .clssoltpointinfo p span {font-size: 1.8em; color: #EF4137; font-weight: 600;}
.clssoldplayer .clsplayalldetails ul li {display: flex; padding: 0.4em 0; border-top: 0.1em solid #D9D9D9; justify-content: space-between;}
.clssoldplayer .clsplayalldetails ul li:last-child {border-bottom: 0.1em solid #D9D9D9;}
.clssoldplayer .clsplayalldetails ul li p {font-size: 1.2em;}
.clssoldplayer .clsplayalldetails ul li p b {font-weight: 600;}
.clssoldouticon {position: absolute; bottom: -0.5em; left: 0em; right: 0em; text-align: center;}

.clsauctionlive .clsplayerphoto {display: inline-flex; align-items: center; justify-content: center; background-color: #ebeaea; border: none;}
.clsauctionlive .clsplayerphoto img {object-fit: contain; max-width: 100%; height: auto; width: auto;}
.clsauctionlive .clssoltpointinfo {padding-top: 0em;}
.clsauctionlive .clsplydetails {position: relative;}
.clsauctionlive .clsplydetails:before, .clsauctionlive .clsplayalldetails ul li p b:before {content: ""; top: 0em; left: 0em; right: 0em; bottom:0.9em; position: absolute; background-color: #ebeaea;}
.clsauctionlive .clsplayalldetails ul li p b {position: relative;}
.clsauctionlive .clsplayalldetails ul li p b:before {bottom: 0em;}

.clsoptsbtn {gap:0 1.2em; margin-top: 2em;}
.clsoptsbtn a {width: 3.4em; height: 3.4em; background-color: #FFFFFF; background-repeat: no-repeat; background-position: 50% 50%; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%;}
.clsoptsbtn .clsplay {background-image: url(../public/play-icon.svg);}
.clsoptsbtn .clspause {background-image: url(../public/pause-icon.svg);}
.clsoptsbtn .clsreload {background-image: url(../public/reload-icon.svg);}
.clsoptsbtn .clsback {background-image: url(../public/back-icon.svg);}

.clslastsoldout {background-color: #ffffff; padding: 1.2em 1em 0.5em; margin: 2em 0em; text-align: center; border-radius: 2em; -moz-border-radius: 2em; -webkit-border-radius: 2em;}
.clslastsoldout .clssoltpointinfo {padding-top: 0px;}
.clslastsoldout h5 {font-size: 1.6em; font-weight: 700; margin-bottom: 0.5em; color: #ff0000;}

.flipanim1 {animation: flipy 3s linear infinite; -moz-animation: flipy 3s linear infinite; -webkit-animation: flipy 3s linear infinite; transform-style: preserve-3d; -moz-transform-style: preserve-3d; -webkit-transform-style: preserve-3d;}
@keyframes flipy {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@-moz-keyframes flipy {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes flipy {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.clsmaintable .clsaucroundcol .clsplayerlists:nth-child(odd) {background-color: #F3F3F3;}

